.side-nav::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(150, 150, 150, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.side-nav::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(94, 138, 199, 0.75);
}

.side-nav::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(132, 172, 227, 0.69);
}